<div class=" content-area">
    <div class="page-header">
        <h4 class="page-title">Transferencia de Fondos</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Swipebank</li>
            <li class="breadcrumb-item" aria-current="page">Cuentas</li>
            <li class="breadcrumb-item active font-weight-bold" aria-current="page">Transferencias</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h3 class="card-title">Transferencias</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="transactionForm">
                        <div class="row">                            
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Cuenta a descontar:</label>
                                    <div class="btn-group mt-2 mb-2">
                                        
                                        <button *ngIf="accounts.length" type="button" class="btn btn-info dropdown-toggle btn-block" data-toggle="dropdown">
                                            {{transactionForm.controls.fromAccountNumber.value || 'Seleccione una cuenta'}}<span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu"> 
                                            <li *ngFor="let account of accounts" (click)="setFormValue('fromAccountNumber', account.number); setFormValue('balance',account.balance)"><a>{{account.number+'---'}} <b>{{'Balance: '+(account.balance | currency)}}</b></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">                           
                                <div class="form-group">
                                    <label class="form-label mb-3">Numero de cuenta del beneficiario:</label>
                                    <input 
                                        formControlName="toAccountNumber" 
                                        type="text"
                                        class="form-control" 
                                        placeholder=""
                                        [class.invalid-input]="transactionForm.controls.toAccountNumber.invalid && transactionForm.controls.toAccountNumber.touched"
                                    >
                                    <div class="input-error" 
                                    *ngIf="transactionForm.controls.toAccountNumber.invalid && transactionForm.controls.toAccountNumber.touched">
                                        Requerido
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="transactionForm.controls.balance.value" class="col-12 d-flex justify-content-around">
                                <div>
                                    <h5 class="font-weight-bold">Cuenta a descontar seleccionada:</h5>
                                    <p>{{transactionForm.controls.fromAccountNumber.value}}</p>
                                </div>
                                <div>
                                    <h5 class="font-weight-bold">Balance:</h5>
                                    <p>{{transactionForm.controls.balance.value | currency}}</p>
                                </div>                                
                            </div>
                            <div class="col-12 col-md-6">                           
                                <div class="form-group">
                                    <label class="form-label mb-3">Monto a transferir:</label>
                                    <input 
                                        formControlName="amount" 
                                        type="number"
                                        class="form-control" 
                                        placeholder=""
                                        [class.invalid-input]="transactionForm.controls.amount.invalid && transactionForm.controls.amount.touched"
                                    >
                                    <div class="input-error" 
                                    *ngIf="transactionForm.controls.amount.invalid && transactionForm.controls.amount.touched">
                                        Requerido
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">                           
                                <div class="form-group">
                                    <label class="form-label mb-3">Motivo del pago:</label>
                                    <input 
                                        formControlName="description" 
                                        type="text"
                                        class="form-control" 
                                        placeholder=""
                                        [class.invalid-input]="transactionForm.controls.description.invalid && transactionForm.controls.description.touched"
                                    >
                                    <div class="input-error" 
                                    *ngIf="transactionForm.controls.description.invalid && transactionForm.controls.description.touched">
                                        Requerido
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <button 
                                    type="button"
                                    (click)="makeTransaction()" 
                                    class="btn btn-primary btn-block"
                                >Transferir</button>
                            </div>
                        </div>
                    </form>     
                </div>
                
            </div>
        </div>
    </div>
</div>
