<div *ngIf="creditCardInfo" class="content-area">
  <div class="page-header">
    <h4 class="page-title">Movimientos de la tarjeta de crédito</h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Swipebank</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        Tarjetas de crédito
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ creditCardInfo.number }}
      </li>
    </ol>
  </div>
  <div class="d-flex justify-content-center">
    <div class="c-card my-5">
      <div class="card__front card__part">
        <img
          class="card__front-square card__square"
          src="https://image.ibb.co/cZeFjx/little_square.png"
        />

        <p class="card_numer">{{ creditCardInfo.number }}</p>
        <div class="card__space-75">
          <span class="card__label">Card holder</span>
          <p class="card__info">{{ creditCardInfo.name }}</p>
        </div>
        <div class="card__space-25">
          <span class="card__label">Expires</span>
          <p class="card__info">
            {{ getExpiration(creditCardInfo.expirationDate) }}
          </p>
        </div>
      </div>

      <div class="card__back card__part">
        <div class="card__black-line"></div>
        <div class="card__back-content">
          <div class="card__secret">
            <p class="card__secret--last">{{ creditCardInfo.securityCode }}</p>
          </div>
          <img
            class="card__back-square card__square"
            src="https://image.ibb.co/cZeFjx/little_square.png"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body d-flex justify-content-between align-items-center">
      <h3 class="card-title font-weight-bold mb-0">
        Número de tarjeta: {{ creditCardInfo.number }}
      </h3>
      <h3 class="card-title font-weight-bold mb-0">
        Límite: {{ creditCardInfo.limit | currency }}
      </h3>
      <h3 class="card-title font-weight-bold">
        Balance: {{ creditCardInfo.balance | currency }}
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="table-responsive">
          <table class="table card-table table-vcenter text-nowrap">
            <thead>
              <tr>
                <th class="text-center font-weight-bold">Fecha</th>
                <th class="text-center font-weight-bold">Referencia</th>
                <th class="text-center font-weight-bold">Monto</th>
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="
                  let trans of transactions
                    | slice: (page - 1) * pageSize:page * pageSize
                "
              >
                <td class="text-center">
                  {{ trans.date | date: "d/M/yy, h:mm a" }}
                </td>
                <td class="text-center">{{ trans.ref }}</td>
                <td
                  class="text-center font-weight-bold"
                  [ngStyle]="{
                    color: trans.nature == 'DEBIT' ? 'red' : 'green'
                  }"
                >
                  <i
                    [ngClass]="
                      trans.nature == 'DEBIT' ? 'fa fa-minus' : 'fa fa-plus'
                    "
                  ></i>
                  {{ trans.amount | currency }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center">
          <ngb-pagination
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="transactions.length"
          >
          </ngb-pagination>
        </div>
        <!-- table-responsive -->
      </div>
    </div>
  </div>
</div>
