<div class="app-header1 header py-4 d-flex">
  <div class="container-fluid">
    <div class="d-flex">
      <a class="header-brand" href="index.html">
        <img src="assets/images/brand/logo.png" class="header-brand-img" alt="vobilet logo">
        <span class="font-weigth-bold text-dark">SwipeBank</span>
      </a>
      
      <div class="d-flex order-lg-2 ml-auto">
        <div class="dropdown mt-1">
          <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
            <span class="d-none d-lg-block avatar avatar-md brround" style="background-image: url(assets/images/faces/male/25.jpg)"></span>
            <span class="m-2" style="font-size: 20px;">
              <span class="text-white">{{userData.username}}</span>              
            </span>
            <i class="fa fa-chevron-down text-white" style="font-size: 20px;" ></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <a class="dropdown-item" href="#">
              <i class="fa fa-user"></i> Perfil
            </a>            
            <a class="dropdown-item" href="#" (click)="signOut()">
              <i class="fa fa-sign-out"></i> Cerrar Sesión
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
