<div class=" content-area">
    <div class="page-header">
        <h4 class="page-title">Cuentas</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Swipebank</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cuentas</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Todas mis cuentas</h3>
                </div>
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap">
                        <thead >
                            <tr>
                                <th>Número de Cuenta</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>45546546645654645654654645656</td>
                                <td>$43,198</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- table-responsive -->
            </div>
        </div>
    </div>
</div>