<div class="content-area">
  <div class="page-header">
    <h4 class="page-title">Cuentas</h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Swipebank</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cuentas</li>
    </ol>
  </div>
  <div class="row" *ngIf="accountsReady; else loader">
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h3 class="card-title">Todas mis cuentas</h3>
          <button class="btn btn-primary" (click)="createAccount()">
            Crear Cuenta
          </button>
        </div>
        <div class="table-responsive">
          <table class="table card-table table-vcenter text-nowrap">
            <thead>
              <tr>
                <th>Número de Cuenta</th>
                <th>Balance</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let account of accounts
                    | slice: (page - 1) * pageSize:page * pageSize
                "
              >
                <td>{{ account.number }}</td>
                <td>{{ account.balance | currency }}</td>
                <td>
                  <a
                    [routerLink]="['detail', account.number]"
                    class="btn btn-info"
                    ><i class="fa fa-eye"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- table-responsive -->
        <div class="d-flex justify-content-center">
          <ngb-pagination
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="accounts.length"
          >
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loader>
    <div class="row">
      <div class="col-12 text-center">
        <div class="dimmer active">
          <div class="spinner2">
            <div class="cube1"></div>
            <div class="cube2"></div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
