/* You can add global styles to this file, and also import other style files */

/* fixing sidebar height */
.nav-sidebar {
  height: 100%;
}

.invalid-input {
  border-color: #dc3545;
}

.input-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

/* wraper */
.wrapper {
  min-height: 100vh;
}

.header {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background: linear-gradient(to right, var(--primary), var(--accent));
}
